<h1>Editing vendor follower</h1>

<%= render "form", vendor_follower: @vendor_follower %>

<br>

<div>
  <%= link_to "Show this vendor follower", @vendor_follower %> |
  <%= link_to "Back to vendor followers", vendor_followers_path %>
</div>
