<div id="<%= dom_id vendor_follower %>">
  <p>
    <strong>User:</strong>
    <%= vendor_follower.user_id %>
  </p>

  <p>
    <strong>Vendor:</strong>
    <%= vendor_follower.vendor_id %>
  </p>

</div>
